.icon-container {
  align-items: center;
  box-sizing: border-box;
  padding-top: .3em;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 200px;
  background-position: 50.026% 40.739%;  
  background-size: 1750.4%;
  background-image: url(../../public/icons.png);
}

.icon {
  display: flex;
  height: 120px;
  font-size: 80px;
  line-height: 100px;
  width: 120px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  justify-content: center;
  background-image: url(../../public/icons.png);
  background-repeat: no-repeat;
}

.icon-value {
  color: #fff;
  text-align: center;
}