.icon-container {
  align-items: center;
  box-sizing: border-box;
  padding-top: .3em;
  display: flex;
  height: 3em;
  justify-content: center;
  max-width: 200px;
  width: 3em;
  background-position: 50.026% 40.739%;  
  background-size: 1750.4%;
  background-image: url(../../public/icons.png);
}

.icon {
  display: inline-block;
  height: 1.3em;
  font-size: 1em;
  line-height: 1.2em;
  width: 1.3em;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;

  background-image: url(../../public/icons.png);
  background-repeat: no-repeat;
}

.icon-value {
  color: #fff;
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
}