.brushbox-texture {
    display: flex;
    height: 50px;
    font-size: 12px;
    width: 50px;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    background-color: beige;
  }

  .icon-button.build-upgrade {
    border-color: tomato;
  }

  .icon-button.build-upgrade.selected {
    border-color: orangered;
  }

  .water {
    background-color:aqua;
  }

  .rock {
    background-color:gray;
    color: white;
  }

  .build {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }