.brushbox-texture {
    display: flex;
    height: 50px;
    font-size: 12px;
    width: 50px;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    background-color: beige;
  }

  .water {
    background-color:aqua;
  }

  .mountain {
    background-color:gray;
    color: white;
  }