.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg {
  display: flex;
  flex-direction: column;

  width: 1845px;
  height: 990px;

  background-size: cover;
  background-image: url("../public/bg.png");
  border:blue solid;
}

.top {
  display: flex;
  flex-direction: row;

  margin-top: 11px;
  height: 900px;

  border:red solid;
}

.map {
  border: green solid;
  margin-top: 33px;
  padding-left: 20px;
  height: 780px;
  width: 900px;
}

.bonuses {
  margin-top: 33px;
  width: 234px;
  border:#282c34 solid;
}